baseURL = 'https://chiaowei-weng.github.io/blog-hugo/'
languageCode = 'en-us'
title = 'Cosmo Page'

theme="ananke"

contentdir = "../docs"
dataDir = "../docs/_data"

[permalinks]
  posts = "/:year/:month/:title/"
  _posts = "/:year/:month/:title/"